.main {
    display: flex;

}
  .image{
      margin-top: 25%;
      margin-left: 10%;
    

  }
  .decentrlized {
      margin-top: 17%;
    margin-left: 130px;
  }
  .smart {
    margin-left: 130px;
    margin-top: 15%;
  }
  
  .button{
    margin-left: 130px;

  }
  .vrtl{
      border: 3px solid red;
      background-color: red;
      border-radius: 2px;
      width: 30%;
      margin-left: 10%;
  }
  .vrtl2{
    border-radius: 2px;
    border: 3px solid red;
    width: 30%;
    background-color: red;
  }
  .bi {
      margin-left: 20%;
      font-weight: bold;
      font-size: 20px;
  }
  .tron {
    margin-left: 13%;
    font-weight: bold;
    font-size: 20px;
  }
  
  

  